<div class="container  mt-2">
    <h4 class="text-center fw-medium text-muted"><u>Best seller</u></h4>
    <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let data of topDealsLists; let i=index">
            <ng-template carouselSlide [id]="'i'">
                <div class="card shadow=sm mx-2" style="width: 15rem;">
                    <img [src]="data.p_img_url" class="card-img-top p-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fs-6">{{data.llc_n}}</h5>
                        <div>
                            <div class="dropdown m-1">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown">
                                    {{data.w}}-{{data.sp}}
                                </button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let item of data.all_prods" (click)="setTotalPrice(i, item)"><a
                                            class="dropdown-item">{{item.w
                                            }}-{{item.sp}}</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <p><span class="fs-13">MRP&nbsp;</span><span
                                class="fs-13 text-decoration-line-through">Rs&nbsp;{{data.dis_val}}</span><span
                                class="ms-2 fs-14">Rs{{data.sp}}</span>
                        </p>
                        <p class="mt-2">
                            <span>
                                <span class="px-2 fs-13">Qty</span>
                                <input type="text" class="mx-1 w-25 px-2 qty-input" name="quantity+{{i}}"
                                    [(ngModel)]="data.quantity" /><a class="mx-2 cursor  px-3 add-btn"
                                    (click)="addToCart(data)">ADD</a>

                            </span>
                        </p>
                    </div>
                </div>
            </ng-template>
        </ng-container>

    </owl-carousel-o>
    <p class="text-end ">
        <button type="button  " class="btn btn-secondary" routerLink="/product-by-category">Show more</button>

    </p>
</div>