.cursor {
  cursor: pointer;
}
.add-btn {
  text-decoration: none;
  font-size: 14px;
  border: 1px solid black;
}

.qty-input {
  height: 22px;
}

.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.cursor {
  cursor: pointer;
}
