/* You can add global styles to this file, and also import other style files */

body {
  margin: 0 !important;
  padding: 0 !important;
}
.list-group {
  cursor: pointer;
}
.courser {
  cursor: pointer;
}

.cardd {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
